@font-face {
    font-family: 'Splatch';
    src: url(src/assets/fonts/Splatch.ttf) format('truetype');
}
$font-stack:    Splatch, sans-serif;
$primary-color: #ea6153;

ul{
	width: 700px;
	padding-top: 50px;
	margin: 0 auto;
	list-style-type: none;
}
ul li{
	font: 30px $font-stack;
	text-transform: uppercase;
	text-decoration: none;
}
span{
	color: $primary-color;
}