@font-face {
    font-family: 'Splatch';
    src: url('../../assets/fonts/Splatch.ttf') format('truetype');
}
$font-stack:    Splatch, sans-serif;
$primary-color: #ea6153;
.wrapper{
  margin-left: auto;
  margin-right: auto;
}
ul{
  text-align: center;
	list-style-type: none;
}

li {
  font: 30px $font-stack;
	text-transform: uppercase;
  color: #000;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li:hover {
  font-size: 35px;
}
span{
	color: $primary-color;
}
