<div class="wrapper">
<div class="table" *ngIf="scores != null">
  <div class="row header">
      <div class="cell name">
        Name
      </div>
      <div class="cell score">
        Score
      </div>
    </div>

  <div class="row" *ngFor="let score of scores">
    <div class="cell name" data-title="Name">
      {{score.name}}
    </div>
    
    <div class="cell score" data-title="Score">
      {{score.score}}
    </div>
  
  </div>
</div>

<p class="dialog"  *ngIf="scores == null">{{ msgEmptyList }}</p>

</div>




  
  
    
