<!--This is the main page of the application-->

<div id="container">
<img class="logo" alt="Logo" src="assets/images/logo.png">
  <div id="header">
    <div id="title">
      <h1><a class="titleLink" href="./">Welcome to {{ title }}!</a></h1>
      <!-- <img class="logo" alt="Logo" src="assets/images/logo.png"> -->
    </div>
    <ul class="nav">
      <li><a class="route" routerLink="/scores/" routerLinkActive="active">Top scores</a></li>
      <li><a class="route" routerLink="/tutorial/" routerLinkActive="active">Tutorial</a></li>
    </ul>
  </div>

  <br>

  <!--if we have a name saved already-->
    <div *ngIf="name!=''">
      <a class="btn"routerLink="/board" routerLinkActive="active">Play now!</a>
    </div>
    <!--if we DONT have a name saved already-->
    <div *ngIf="name==''">
      <a class="btn"routerLink="/name" routerLinkActive="active">Play now!</a>
    </div>
    <br>
  <div *ngIf="name!=''" style="float:left">
    <h2 class="name" ><span>Name:</span> {{name}}</h2>
  </div>

</div>
<!--The following portion of the page will change depending on the route-->
<router-outlet></router-outlet>
